.html, body {
  height: 100%;
  background-color: #152c3a;
}

.App {
  background-color: white;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  padding: 32px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}